@use '../base/variables';

.lm-footer {
  padding: 0 70px;
  background: $gray400;
  height: 78px;
  width: 100%;
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
    color: $white500;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .check-btn,
  .solution-btn,
  .try-again-btn {
    width: 220px;
    height: 41px;
  }

  .check-btn {
    background: linear-gradient(180deg, #008DB5 0%, #007292 100%)
  }

  .solution-btn {
    background: linear-gradient(180deg, #37B5D9 0%, #53A4BA 100%);
  }

  .try-again-btn {
    background: #FC7880;
  }

  .pre-btn,
  .next-btn {
    background: linear-gradient(180deg, #37B5D9 0%, #53A4BA 100%);
    width: 96px;
    height: 46px;

  }

  .pre-btn span {
    margin-left: 8px;
  }

  .next-btn span {
    margin-right: 8px;
  }
}