.lm-header {
  padding: 0 70px;
  height: 64px;
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);

  .ant-menu-horizontal {
    min-width: 430px;
    border-bottom: none;
    font-size: 16px;

    .ant-menu-item-selected a,
    .ant-menu-item-active a {
      color: $blueM;
    }

    .ant-menu-item-selected::after {
      border-bottom: 4px solid $blueM;
    }

    .ant-menu-item::after {
      bottom: -9px;
    }

    .ant-menu-item:hover::after {
      border-bottom: 4px solid $blueM;

    }
  }


}



.ant-dropdown-menu {
  padding: 0 !important;
  border-radius: 6px;

  .ant-dropdown-menu-item:hover {
    background: $blueM;
    color: $white500;
  }
}