.lm-progress {
    height: 123px;
    border: 0.5px solid #A9A9A9;
    border-radius: 5px;

    &__title {
        background: #CBF0FA;
        padding: 8px 16px;
    }

    .ant-progress-bg {
        height: 18px !important;
        background-color: $green300;
    }

    .ant-slider {
        .ant-slider-rail {
            background: #C4C4C4;
            height: 6px;
            border-radius: 20px;
        }

        .ant-slider-track {
            height: 6px;
            background-color: #357A9B;
            border-radius: 20px;
        }

        .ant-slider-handle {
            width: 16px;
            height: 16px;
            background-color: #357A9B;
            border: solid 2px #357A9B;
            cursor: pointer;
        }
    }

}