    .lm-homepage__select {
        .ant-select {
            width: 150px !important;
            color: $white500;

            .ant-select-selector {
                border: none;
                background-color: transparent;
            }

            .ant-select-arrow {
                color: $white500;
            }
        }
    }

    .lm-footer__select {
        .ant-select {
            width: 130px !important;
            color: $blueM;
            font-size: 16px;

            .ant-select-selector {
                border: 1px solid #357A9B;
                height: 46px;
                border-radius: 10px;

                .ant-select-selection-item {
                    line-height: 46px;
                    font-weight: 700;
                }
            }

            .ant-select-arrow {
                color: $blueM;
            }
        }
    }


    .lm-footer__select.speed {
        .ant-select {
            width: 100px !important;

            .ant-select-selector {
                height: 36px;

                .ant-select-selection-item {
                    line-height: 36px;
                    font-weight: 700;
                }

            }
        }
    }