.ant-tabs {
    font-size: 16px !important;
    font-weight: 700;

    .ant-tabs-nav {
        &::before {
            border-bottom: 2px solid $blueM;
        }
    }

    .ant-tabs-tab {
        font-size: 16px;
    }

    .ant-tabs-tab:hover {
        color: $blue100;
    }

    .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: $blue100;
            text-shadow: 0 0 0.25px currentcolor;
        }
    }
}