@mixin primary-btn {}

@mixin hover-btn {
  &:hover {
    opacity: 0.7;
  }
}

$mobile-width: 375px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}