.lm-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;

    &__progress {
        color: $black100;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__title {
        color: $black100;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
    }

    &__item {
        width: 361px;
        height: 41px;
        background: linear-gradient(180deg, #37B5D9 0%, #53A4BA 100%);
        box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
        border-radius: 100px;
        color: $white500;
        font-weight: 700;
        font-size: 14px;
        line-height: 41px;
        margin-bottom: 16px;
        cursor: pointer;

        a:hover {
            color: $white500;
        }

        &:hover {
            background: linear-gradient(180deg, #008DB5 0%, #007292 100%);
        }
    }
}