.language-landingpage {
  .wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .header {
    background-color: #ffffff;
    box-shadow: transparent;
    transition: all 0.25s linear;
    &.active {
      box-shadow: 0px 2px 4px -2px rgb(24 39 75 / 12%),
        0px 4px 4px -2px rgb(24 39 75 / 8%);
    }
    .menu-item {
      margin: 0 8px;
      font-size: 16px;
      line-height: 24px;
      color: #27292b;

      a {
        display: inline-block;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    .btn--login,
    .btn--register {
      padding: 10px 20px;
      border-radius: 52px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    .btn--login {
      background: #eaf5f6;
      color: #357a9b;
      margin-left: 14px;
    }
    .btn--register {
      background: #357a9b;
      color: #ffffff;
    }
    .btn-toggle,
    .menu-mobile {
      display: none;
    }
  }

  //Hero Secsion
  .hero {
    background: #357a9b;
    &__container {
      background-image: url('/images/bg-hero.svg');
      background-size: cover;
      padding: 48px 48px 0;
      background-color: #fff;
      border-radius: 0px 0px 20px 20px;
    }
    &__title {
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #357a9b;
        text-align: center;
        span {
          display: block;
          color: #df687b;
        }
      }
      p {
        margin-top: 8px;
        text-align: center;
      }
    }
    &__image {
      margin-top: 12px;
    }
    &__scroll-down {
      margin: 22px 0 22px;
      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #357a9b;
        margin-left: 12px;
      }
    }
  }

  //Trust-Elements Secsion
  .trust-elements {
    padding: 96px 96px 0;
    background: #357a9b;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url('/images/bg-landing-trust-elements.png');
      width: 100%;
      height: 80%;
      left: 0;
      bottom: 0;
    }
    &__container {
      position: relative;
      z-index: 10;
    }
    .slider {
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(20px);
      border-radius: 20px;
      position: relative;
      background-image: url('/images/bg-trust-elements-banner.png');
      .slick-arrow {
        width: 32px;
        height: 32px;
        z-index: 20;
        &::after,
        &::before {
          content: '';
        }
        &.slick-prev {
          left: 88px;
        }
        &.slick-next {
          right: 88px;
          img {
            transform: rotate(180deg);
          }
        }
      }
      .banner {
        position: relative;
        overflow: hidden;
        padding: 48px 48px 0;
        z-index: 10;
        &__container {
          position: relative;
          z-index: 10;
        }
        h2 {
          font-weight: 500;
          font-size: 28px;
          line-height: 36px;
          text-align: center;
          letter-spacing: -0.762769px;
          color: #357a9b;
        }
      }
    }

    .btn-register {
      margin: 24px 0px 48px;
      background: linear-gradient(270deg, #357a9b 0%, #44abe5 100%);
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.125);
      border-radius: 100px;
      padding: 12px 32px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
    }

    .cards {
      margin-top: 24px;
      background: #ffffff;
      border-radius: 24px;
      padding: 24px;
      li {
        width: calc(33.33% - 42.5px);
        padding: 8px 24px 32px;
        p {
          margin-top: 16px;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #357a9b;
        }
      }
    }
  }

  //Membership Secsion
  .membership {
    background-color: #357a9b;
    padding: 96px 0px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      z-index: 1;
      background-image: url('/images/bg-membership.svg');
      background-size: cover;
      width: 100%;
      height: 70%;
    }
    &__container {
      position: relative;
      z-index: 10;
      padding: 0 96px;
    }
    &__title {
      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.762769px;
        color: #fff;
        text-align: center;
      }
      p {
        margin-top: 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
    }
    &__list {
      margin-top: 96px;
      .item {
        &__header {
          padding: 24px;
          h4 {
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            letter-spacing: -0.762769px;
            color: #ffffff;
          }
          span {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #357a9b;
            background-color: #fff;
            padding: 8px;
            border-radius: 48px;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
          }
          &--free {
            background: radial-gradient(
              218.51% 281.09% at 100% 100%,
              rgba(242, 92, 92, 0.6) 0%,
              rgba(0, 176, 200, 0.6) 41.15%,
              rgba(0, 80, 200, 0.6) 79.69%
            );
            border: 0.273134px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 16px rgba(30, 130, 187, 0.5);
            backdrop-filter: blur(21.8507px);
            border-radius: 16px;
          }
          &--basic {
            background: radial-gradient(
                175.97% 223.07% at 100% 100%,
                rgba(92, 242, 215, 0.6) 0%,
                rgba(242, 92, 92, 0.6) 41.15%,
                rgba(247, 228, 53, 0.6) 79.69%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            border: 0.273134px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 16px rgba(30, 130, 187, 0.5);
            backdrop-filter: blur(21.8507px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 16px;
          }
          &--premium {
            background: radial-gradient(
                114.82% 298.23% at 50% -20.1%,
                rgba(212, 92, 242, 0.6) 0%,
                rgba(0, 176, 200, 0.6) 41.15%,
                rgba(242, 92, 92, 0.6) 79.69%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            border: 0.273134px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 16px rgba(30, 130, 187, 0.5);
            backdrop-filter: blur(21.8507px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 16px;
          }
        }
        &__content {
          padding: 24px;
          li {
            padding-left: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.149625px;
            color: #357a9b;
            margin-top: 8px;
            &::before {
              content: '\2022';
              color: #357a9b;
              font-weight: bold;
              display: inline-block;
              width: 16px;
              margin-left: -16px;
            }
          }
          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.149625px;
            color: #61686b;
          }
        }
        &__register {
          padding: 0 24px;
          button {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #ffffff;
            padding: 12px 0;
            background: #357a9b;
            border-radius: 100px;
            width: 100%;
          }
        }
        &:nth-child(1) {
          .item__header {
            background: radial-gradient(
                218.51% 281.09% at 100% 100%,
                rgba(242, 92, 92, 0.6) 0%,
                rgba(0, 176, 200, 0.6) 41.15%,
                rgba(0, 80, 200, 0.6) 79.69%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            border: 0.273134px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 16px rgba(30, 130, 187, 0.5);
            backdrop-filter: blur(21.8507px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 16px;
          }
        }
      }
    }
    &__item {
      background-color: #fff;
      width: calc(33.33% - 32px);
      border: 1px solid #eaf5f6;
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      padding-bottom: 24px;
    }
  }

  //Testimonials Secsion
  .testimonials {
    background: #357a9b;
    padding: 0 48px;
    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      color: #357a9b;
      text-align: center;
      letter-spacing: -0.762769px;
    }
    &__container {
      background: #ffffff;
      border-radius: 20px;
      padding: 104px 86.5px 96px;
    }
    .service {
      &__title {
        p {
          margin-top: 8px;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #357a9b;
          text-align: center;
          letter-spacing: 0.2px;
        }
      }
      &__content {
        margin-top: 56px;
      }
      .content {
        &__left {
          width: 45%;
          ul {
            margin-top: 24px;
          }
          li {
            margin-bottom: 24px;
            span {
              font-weight: 500;
              font-size: 28px;
              line-height: 36px;
              color: #357a9b;
              letter-spacing: -0.762769px;
              margin-left: 16px;
            }
          }
          h3 {
            margin-top: 64px;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.762769px;
            color: #357a9b;
            text-transform: uppercase;
          }
        }
        &__right {
          width: 55%;
          background: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0.3);
          box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.24);
          backdrop-filter: blur(40px);
          border-radius: 4px;
          padding: 24px;
          .form {
            margin-top: 20px;
            &__row {
              margin-bottom: 24px;
            }
            &__col {
              width: calc(50% - 12px);
              background: #e9ebec;
              border-radius: 8px;
              padding: 12px;
              input {
                background: #e9ebec;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #61686b;
                outline: none;
                width: 90%;
                &::placeholder {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #61686b;
                  opacity: 0.5;
                }
              }
            }
            &__submit {
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
              color: #ffffff;
              background: linear-gradient(
                261.11deg,
                #ecaad3 0%,
                #df687b 90.84%
              );
              width: 100%;
              padding: 12px 32px;
              border-radius: 4px;
            }
          }
        }
      }
    }
    .customer {
      margin-top: 144px;
      &__container {
        position: relative;
        margin-top: 48px;
        padding-bottom: 48px;
      }
      .content {
        width: 30%;
        padding-right: 24px;
        h3 {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          color: #27292b;
          letter-spacing: -0.762769px;
          margin: 10px 0;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1px;
          font-feature-settings: 'salt' on;
          color: #61686b;
        }
      }
      .slider {
        width: 70%;
        position: static;
        .card {
          padding: 0 40px;
          &__comment {
            position: relative;
            background: linear-gradient(261.11deg, #ecaad3 0%, #df687b 90.84%);
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.125);
            backdrop-filter: blur(40px);
            padding: 16px 21px;
            border-radius: 10px;
            // .bg {
            //   position: absolute;
            //   background-image: url('/images/bg-landing-customer-card.svg');
            //   background-position: center;
            //   // background-size: cover;
            //   width: 100%;
            //   height: 100%;
            //   left: 0;
            //   top: 0;
            // }
            p {
              position: relative;
              z-index: 10;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              color: #ffffff;
            }
          }
          &__info {
            margin-top: 48px;
            .image {
              width: 120px;
              width: 120px;
            }
            .info {
              margin-left: 16px;

              p {
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                color: #27292b;
              }
              span {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                font-feature-settings: 'salt' on;
                color: #27292b;
              }
            }
          }
        }
        .slick-dots {
          margin-top: 48px;
          left: 0;
          button {
            background: #d4d7d8;
            padding: 0;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            box-sizing: border-box;
            border: 3px solid transparent;
            transition: all 0.25s linear;
            &::before {
              display: none;
            }
          }
          .slick-active {
            button {
              border-color: #357a9b;
            }
          }
        }
      }
    }
    .partners {
      margin-top: 96px;
      ul {
        margin-top: 48px;
      }
    }
  }

  //Bubble
  .bubble {
    position: fixed;
    z-index: 30;
    right: 20px;
    bottom: 20px;
  }

  //Footer
  .footer {
    position: relative;
    padding: 96px 0;
    background: #357a9b;
    &__container {
      position: relative;
      z-index: 10;
      padding: 0 96px;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      background-image: url('/images/bg-landing-footer.png');
      background-size: cover;
      background-position: center;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &__center {
      .center {
        &__left,
        &__right {
          width: 50%;
        }
        &__left {
          li {
            span {
              margin-left: 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.149625px;
              color: #ffffff;
            }
            a {
              margin-right: 16px;
            }
          }
        }
      }
    }
    &__form {
      padding: 24px;
      background-color: #fff;
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.24);
      backdrop-filter: blur(40px);
      .form {
        &__row {
          margin-bottom: 12px;
          &--message {
            background: #e9ebec;
            border-radius: 8px;
            overflow: hidden;
            label {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.149625px;
              color: #61686b;
              opacity: 0.5;
              padding: 12px;
              border-bottom: 1px solid #dadee0;
            }
            input {
              background: #e9ebec;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #61686b;
              outline: none;
              padding: 12px;
            }
          }
        }
        &__col {
          width: calc(50% - 12px);
          background: #e9ebec;
          border-radius: 8px;
          padding: 12px;
          input {
            background: #e9ebec;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #61686b;
            outline: none;
            width: 90%;
            &::placeholder {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #61686b;
              opacity: 0.5;
            }
          }
        }
        &__submit {
          background: linear-gradient(261.11deg, #ecaad3 0%, #df687b 90.84%);
          border-radius: 4px;
          width: 100%;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          padding: 10px 40px;
          color: #ffffff;
        }
      }
    }
    &__bottom {
      margin-top: 32px;
      p,
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.149625px;
        color: #ffffff;
      }
      li {
        &::after {
          content: '';
          border-right: 1px solid #fff;
          margin: 0 8px;
        }
        &:last-child {
          &::after {
            border-color: transparent;
          }
        }
      }
    }
  }

  // Responsive
  @media screen and (max-width: 1350px) {
    .membership {
      .item__header {
        flex-direction: column;
        align-items: flex-start;
        span {
          margin-top: 8px;
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .trust-elements {
      padding: 48px 48px 0;
    }
    .membership {
      padding: 48px 0;
      &__list {
        margin-top: 48px;
      }
      &__container {
        padding: 48px;
      }
      &__item {
        width: calc(33.33% - 16px);
      }
    }
    .testimonials {
      &__container {
        padding: 60px 48px 48px;

        .customer {
          margin-top: 72px;
          .slider {
            .card {
              padding: 0 20px;
            }
          }
        }
      }
    }
    .footer {
      padding: 48px 0;
      &__container {
        padding: 0 48px;
        .center {
          &__left {
            width: 40%;
          }
          &__right {
            width: 60%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .header {
      .actions {
        display: none;
      }
      .menu-list {
        opacity: 0;
        visibility: hidden;
        .menu-item {
          display: none;
        }
      }
      .btn-toggle {
        display: block;
        width: 20px;
        margin-right: 20px;
      }
      .btn-close {
        margin-top: 24px;
        margin-right: 18px;
        width: 20px;
      }
      .menu-mobile {
        display: block;
        &.open {
          .menu-mobile__bg {
            opacity: 0.6;
            visibility: visible;
          }
          .menu-mobile__content {
            transform: translateX(0);
          }
        }
        &__bg {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 20;
          overflow: hidden;
          position: fixed;
          background: #0b0b0b;
          -webkit-transition: opacity 0.25s;
          -o-transition: opacity 0.25s;
          transition: opacity 0.25s;
          opacity: 0;
          visibility: hidden;
        }
        &__content {
          position: fixed;
          right: 0;
          top: 0;
          width: 260px;
          height: 100%;
          z-index: 30;
          background-color: #ffffff;
          box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
          transition: transform 0.2s, -webkit-transform 0.2s;
          transform: translateX(260px);
          .menu-list {
            opacity: 1;
            visibility: visible;
            .menu-item {
              display: block;
            }
          }
          .actions {
            margin-top: 24px;
            display: flex;
            justify-content: center;
          }
          ul {
            margin-top: 24px;
            flex-direction: column;
            li {
              border-top: 1px solid #ececec;
              a {
                width: 100%;
                padding: 12px;
                color: rgba(102, 102, 102, 0.85);
              }
            }
          }
        }
      }
    }
    .trust-elements {
      .slider {
        .slick-arrow {
          &.slick-prev {
            left: 44px;
          }
          &.slick-next {
            right: 44px;
          }
        }
      }
      .cards {
        li {
          width: calc(33.33%);
        }
      }
    }
    .membership {
      &__list {
        flex-wrap: wrap;
      }
      &__item {
        margin-top: 24px;
        width: 100%;
        .item__header {
          flex-direction: row;
          align-items: flex-start;
          span {
            margin-top: 0px;
          }
        }
        .item__content {
          ul {
            margin-bottom: 24px;
          }
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .testimonials {
      &__container {
        .service {
          &__content {
            flex-direction: column;
          }
          .content {
            &__left,
            &__right {
              width: 100%;
            }
            &__left {
              ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                  width: calc(50% - 12px);
                }
              }
              h3 {
                margin-top: 12px;
              }
            }
            &__right {
              margin-top: 36px;
            }
          }
        }
        .customer {
          &__container {
            flex-direction: column;
          }
          .content {
            width: 100%;
            padding-right: 0px;
            text-align: center;
          }
          .slider {
            width: 100%;
            margin-top: 48px;
          }
        }
      }
    }
    .footer {
      &__container {
        .center {
          &__left,
          &__right {
            width: 100%;
          }
          &__left {
            margin-top: 36px;
            flex-direction: row;
            div {
              width: 50%;
            }
            ul {
              width: 50%;
              li {
                margin-top: 16px;
              }
            }
          }
        }
      }
      &__center {
        flex-direction: column-reverse;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .trust-elements {
      &__container {
        .slider {
          .banner {
            padding: 24px;
          }
        }
      }
    }
    .testimonials {
      .partners {
        margin-top: 60px;
        ul {
          flex-wrap: wrap;
          margin-top: 24px;
          li {
            margin-top: 24px;
            width: 33.33%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .hero {
      &__container {
        padding: 24px 16px 0;
      }
      &__title {
        h2 {
          font-size: 34px;
          line-height: 48px;
        }
      }
    }
    .trust-elements {
      padding: 24px 24px 0;
      .slider {
        .banner {
          padding: 12px;
        }
        .slick-arrow {
          display: none !important;
        }
      }
      .cards {
        flex-direction: column;
        li {
          width: 100%;
          padding: 8px 12px 24px;
          p {
            text-align: center;
          }
        }
      }
    }
    .membership {
      padding: 24px 0;
      &__container {
        padding: 24px;
      }
      &__title {
        h1 {
          font-size: 40px;
          line-height: 48px;
        }
      }
      &__list {
        margin-top: 24px;
        .item {
          &__header {
            padding: 24px 12px;
          }
        }
      }
    }
    .testimonials {
      padding: 0 24px;
      h1 {
        font-size: 40px;
        line-height: 48px;
      }
      &__container {
        padding: 48px 18px;
      }
      .service {
        &__title {
          p {
            margin-top: 8px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #357a9b;
            text-align: center;
            letter-spacing: 0.2px;
          }
        }
        &__content {
          margin-top: 24px;
        }
        .content {
          &__left {
            width: 100%;
            ul {
              margin-top: 24px;
              li {
                margin-bottom: 24px;
                width: 100%;
              }
            }

            h3 {
              font-size: 34px;
              line-height: 48px;
            }
          }
          &__right {
            width: 100%;
            padding: 8px;
            .form {
              margin-top: 20px;
              &__row {
                margin-bottom: 0;
                flex-wrap: wrap;
              }
              &__col {
                width: 100%;
                margin-bottom: 12px;
                padding: 12px;
              }
            }
          }
        }
      }
      .customer {
        &__container {
          margin-top: 24px;
        }
      }
      .partners {
        margin-top: 48px;
        ul {
          margin-top: 0px;
          li {
            margin-top: 48px;
            width: 100%;
          }
        }
      }
    }
    .footer {
      &__container {
        padding: 0 24px;
      }
      &__center {
        .center {
          &__left {
            margin-top: 24px;
            flex-direction: column;
            div,
            ul {
              width: 100%;
            }
          }
        }
      }
      &__form {
        padding: 12px;
        .form {
          &__row {
            flex-wrap: wrap;
            margin-bottom: 0;
          }
          &__col {
            width: 100%;
            margin-bottom: 12px;
          }
          &__submit {
            margin-top: 12px;
          }
        }
      }
      &__bottom {
        flex-direction: column-reverse;
        ul {
          flex-wrap: wrap;
          margin-bottom: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 520px) {
    .hero {
      &__container {
        padding: 24px 16px 0;
      }
    }
    .trust-elements {
      padding: 24px 12px 0;
      .btn-register {
        margin: 12px 0 24px;
      }
    }
    .membership {
      &__container {
        padding: 12px;
      }
    }
    .testimonials {
      padding: 0 12px;
      &__container {
        padding: 48px 18px;
      }
      .service {
        .content {
          &__left {
            ul {
              li {
                span {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      &__container {
        padding: 0 12px;
      }
    }
  }
}
