.lm-speak-aloud-result {

    .male,
    .female {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        background: #357A9B;
        color: $white500;
        cursor: pointer;
    }

    .male {
        border-radius: 50px 0px 0px 50px;
    }

    .female {
        border-radius: 0px 50px 50px 0px;
        background: #F0F8FF;
        color: #302C35;
    }
}

.play-btn,
.pause-btn {
    padding: 10px;
    background: #F0F8FF;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}