.lm-read-aloud {
    padding: 24px 16px;
    height: 400px;
    border-radius: 10px;
    background: $gray300;
}

.topic {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 16px;

    p {
        font-weight: 500;
        letter-spacing: 0.005em;
        line-height: 26px;
    }
}

.line {
    min-height: 0.5px;
    width: 100%;
    background: #357A9B;
}