@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

@font-face {
  font-family: 'BeVietNamPro';
  src: url('../public/fonts/BeVietnamPro-Light.woff2') format('woff2'),
    url('../public/fonts/BeVietnamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietNamPro';
  src: url('../public/fonts/BeVietnamPro-Regular.woff2') format('woff2'),
    url('../public/fonts/BeVietnamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietNamPro';
  src: url('../public/fonts/BeVietnamPro-Medium.woff2') format('woff2'),
    url('../public/fonts/BeVietnamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietNamPro';
  src: url('../public/fonts/BeVietnamPro-SemiBold.woff2') format('woff2'),
    url('../public/fonts/BeVietnamPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietNamPro';
  src: url('../public/fonts/BeVietnamPro-Bold.woff2') format('woff2'),
    url('../public/fonts/BeVietnamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-Light.woff2') format('woff2'),
    url('../public/fonts/BarlowCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-Regular.woff2') format('woff2'),
    url('../public/fonts/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-Medium.woff2') format('woff2'),
    url('../public/fonts/BarlowCondensed-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
    url('../public/fonts/BarlowCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-Bold.woff2') format('woff2'),
    url('../public/fonts/BarlowCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BeVietNamPro', sans-serif;
  color: #302c35;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: unset;
}

* {
  box-sizing: border-box;
}
